html, body {
    height: 100%;
}

html {
    background-color: #0F2027;
}

body {
    margin: 0;

    font-family: Verdana, sans-serif;
    font-weight: 300;
    color: #fff;

    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027);
}

body, #wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrapper {
    display: none;
}

button {
    margin-top: 16px;
    padding: 8px 14px;

    border: none;
    border-radius: 3px;

    font-family: Verdana, sans-serif;
    font-size: 11px;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(19, 74, 70, .4);
    text-transform: uppercase;
    color: #fff;

    background-color: #7AB893;
}

button:disabled {
    opacity: .5;

}

h1 {
    font-size: 36px;
    margin: 0 0 2px 0;
}

#status {
    text-align: center;
    font-size: 11px;
    margin-bottom: 14px;
    opacity: .5;
}

h2 {
    font-size: 16px;
    margin: 12px;
}

span {
    display: flex;
    margin-bottom: 6px;
}

input, select, label, a.remove {
    box-sizing: border-box;
    height: 34px;
}

input, select {
    width: 160px;

    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    /* iPhone needs this... */
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

input::-webkit-input-placeholder {
    color: #aaa;
}

select:has(+ a) {
    width: 124px;

    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

label {
    width: 100px;
    padding: 10px 14px;

    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

a.remove {
    cursor: pointer;

    width: 36px;
    padding: 10px 10px;

    border-left: solid 6px #efefef;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

a#add {
    color: #efefefaa;
    font-size: 12px;
    text-decoration: none;
    align-self: flex-end
}

a#add:hover {
    color: #efefef;
}

input, select {
    text-indent: 8px;
    border: 0;
}

input, select, label, a.remove {
    outline: 0;

    font-family: Verdana, sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #377D6A;

    background: #efefef;
}

label, a.remove {
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(42, 59, 49);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);

    display: inline-block;
    background: #7AB893;
}

#confirmation {
    display: none;

    color: #7AB893;
    user-select: none;

    position: absolute;
    bottom: 5px;
    right: 36px;
}

.loader {
    border-radius: 50%;
    border: 3px solid;
    border-color: #efefef;
    border-right-color: #7AB893;
    animation: spinner 2s infinite linear;
}

#large-loader {
    width: 36px;
    height: 36px;
}

#small-loader {
    display: none;

    position: absolute;
    bottom: 3px;
    right: 30px;

    width: 18px;
    height: 18px;
}

@keyframes spinner {
  to { transform: rotate(1turn) }
}
